*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
    min-height: 100vh;
    color: #333;
    line-height: 1.5;
    display: grid;
    place-items: center;
}

.container{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: containerAnimation 1s ease-in-out;
}
@keyframes containerAnimation {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
h1 {
    font-size: 36px;
    margin-bottom: 12px;
}
#value {
    font-size: 100px;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#value.negative {
    color: red;
}

button {
    background-color: #007bff;
    border: solid 2px #0056b3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    color: white;
}